<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pm5scanner">

    <!-- Permissions required for ANT+ communication -->
    <uses-permission android:name="com.dsi.ant.permission.ANT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PM5 Scanner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PM5Scanner">
        
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PM5Scanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
